{% extends "base.html" %}

{% block title %}

Homework page

{% endblock %}

{% block content_title %}

Homework page New

{% endblock %}

{% block content %}
<p>{{yhw.number}}</p>
{% if yhw.comments or yhw.files %}
<p>{{yhw.comments}}</p>
{% if yhw.files %}
<p><a href="/upload/{{yhw.files}}/files" download=""><img src="/uploads/{{yhw.files}}/files" title="Вы правда хотите это скачать? Не надо..." width="100" height="111"></a></p>
{% endif %}
{% endif %}

<p><a href="/homework_load/{{yhw.number}}"><mark>Загрузить решение</mark></a></p>
{% for hw in hws %}
{% if hw.body %}
    <p> Решение номер {{hw.id}}:<br>{{hw.body}}</p>
{% endif %}
{% if hw.files %}
    <a href="/upload/{{hw.files}}/files" download=""><img src="/uploads/{{hw.files}}/files" title="Вы правда хотите это скачать? Не надо..." width="100" height="111"></a>
{% endif %}
{% endfor %}
{% endblock %}


