{% extends "base.html" %}

{% block title %}

Index page

{% endblock %}

{% block content_title %}

Index page New

{% endblock %}

{% block content %}
{% for post in posts %}
    <details>
            <summary>{{post[0]}}</summary>
            <ul>
                {% for p in post[1] %}
                {% if p.type == "message" %}
                    <li>
                        {% if p.comments or p.files %}
                        <details>
                            <summary>{{p}}</summary>
                                <ul>
                                    <li>{{p.comments}}</li>
                                    {% if p.files %}
                                        <li><a href="/upload/{{p.files}}/files" download=""><img src="/uploads/{{p.files}}/files" title="Вы правда хотите это скачать? Не надо..." width="100" height="111"></a></li>
                                    {% endif %}
                                </ul>
                        </details>
                        {% else %}
                        {{p}}
                        {% endif %}
                        {% if status and user.lesson == post[0] %}
                            <a href="/delete_homework/{{p}}" style="color:red;">Удалить</a>
                        {% endif %}
                        {{p.timestamp}}
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
    </details>
{% endfor %}
{% if status %}
    <a href="/make_homework/message" style="color:blue;">Добавить объявление++</a>
{% endif %}
{% endblock %}
