{% extends "base.html" %}

{% block title %}

Index page

{% endblock %}

{% block content_title %}

Index page New

{% endblock %}

{% block content %}
{% for post in posts %}
<li>
    <a href="/homework/{{post[0]}}">{{post[1]}}: {{post[0]}}</a>
    {% if status %}
         <a href="/delete_homework/{{post[0]}}" style="color:red;">Удалить</a>
    {% endif %}
</li>
{% endfor %}
{% if status %}
    <a href="/make_homework" style="color:black;">Добавить домашнее задание++</a>
{% endif %}

{% endblock %}
