{% extends "base.html" %}

{% block title %}

Загрузка ДЗ

{% endblock %}

{% block content_title %}

Загрузка ДЗ

{% endblock %}

{% block content %}
<form action="" method="post" autocomplete="off" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.number.label }}<br>
        {{ form.number(size=32) }}
        {% for error in form.number.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.comments.label }}<br>
        {{ form.comments(size=32) }}
    </p>
    <p>
        {{ form.files.label }}<br>
        {{ form.files(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
